* {
  text-align: center;
}

.center {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#home-image {
  padding-top: 10vw;
}

.cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
