.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  display: flex;
  text-align: justify-center;
}

.header {
  display: flex;
  justify-content: center;
}
